@font-face {
    font-family: "okDdung";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/okDdung/okDdung.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/okDdung/okDdung.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/okDdung/okDdung.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/okDdung/okDdung.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/okDdung/okDdung.ttf") format("truetype");
    font-display: swap;
} 
.okDdung {
    font-family: "okDdung";
}
